samples/AspNetEchoServer/bin/**
samples/AspNetEchoServer/obj/**
samples/ConsoleEchoServer/bin/**
samples/ConsoleEchoServer/obj/**
src/WebTyphoon/bin/**
src/webTyphoon/obj/**
build/**
obj/**
performance/**

*.nupkg
*.suo
*.user
_Resharper*/*